*{
    margin: 0;
}

/* header properties */
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    height: 175px;
    position: relative;
}

header > #logo{
    height: 50%;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/* main properties */

main, footer{
    margin: auto;
    width: 98%;
}

/* title properties */
.article-title{
    font-size: 45px;
    margin-top: 15px;
}

.article-title > p{
    color: grey;
}

.article-title > #author{
    font-size: 0.8em;
}

.article-title > #author > a{
    text-decoration: none;
    color: #3cb2e7;
}

.article-title > #article-date{
    font-size: 0.6em;
}

.image-wrapper{
    margin: 15px 0;
}

/* article's body properties */
section{
    margin-top: 15px;
    font-size: 25px;
}

.par{
    margin: 15px 0;
}

.highlight{
    background-color: yellow;
}

.list{
    padding: 0 0 0 20px;
}

/* table properties */

table{
    font-size: 25px;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

thead{
    min-height: max-content;
    background-color: #1ca9e4;
    color: white;
}

tbody > tr:nth-child(odd){
    background-color: #b2e4f2;
}

tbody > tr{
    height: 75px;
    line-height: 75px;
}

/* footer properties */
footer > h3{
    color: grey;
    font-size: 30px;
}

.other-articles{
    height: 300px;
    width: 400px;
    background-size: cover;
    margin: 10px 0;
    position: relative;
}

.first{
    background-image: url(../img/monitor.jpg);
}

.second{
    background-image: url(../img/graph.jpg);
}

.caption{
    color: white;
    font-size: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
}